.App {
  color: white;
}

.left-menu {
  position:fixed;
  display:flex;
  flex-direction:column;
  top:0;
  bottom:0;
  left:0;
  width:250px;
  background:#131356;
  overflow-x:hidden;
  flex:1;
  color: pink;
  justify-content: space-between;
  text-align: center;
}

.notes-container {
  margin-left: 250px;
  min-width: 550px;
  background-color: #131356;
}

.side-menu-item {
  color: #9FBFDD !important;
  cursor: pointer;
}
.side-menu-item:hover {
  color: #9FBFDD !important;
  font-weight: bold !important;
}

.active {
  background-color: #020221 !important;
  color: white !important;
}

.text-area {
  background-color: #020221 !important;
  font-family: 'Electrolize', sans-serif !important;
}

#logout-button {
  color: #9FBFDD !important;
}

.item {
  color: white !important;
  border: none !important;
}

.text-area {
  color: white !important;
}

.text-area {
  border: none !important;
  overflow: auto !important;
  outline: none !important;

  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;

  resize: none !important; /*remove the resize handle on the bottom right*/
}

.text-area::selection {
  background: #C4B94B !important;
  color: white !important;
}

.new-note-form {
  width: 100%;
  height: 40px;
}

.new-note-form>input {
  border: none !important;
  outline: none !important;

  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;

  resize: none !important; /*remove the resize handle on the bottom right*/
}

.tab-pane {
  border: none !important;
}

.tabular {
  border: none !important;
}

.ui.button, .ui.action>input, .input, .ui.form .field .ui.input input {
  border-radius: 0 !important;
}

#delete-button {
  color: red !important;
}
#delete-button:hover {
  color: darkred !important;
}

.tab-menu-item {
  font-weight: bold !important;
  color: white !important;
}

.tab-menu-item:hover {
  color: green !important;
  color: #9FBFDD !important;
}

/* Signup page */


.signup-header {
  font-family: 'Electrolize', sans-serif !important;
  color: #e0e1e2 !important;
}

.signup-form-input input {
  background-color: #414189 !important;
  color: white !important;
  border: none !important;
  outline: none !important;

  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;

  resize: none !important; /*remove the resize handle on the bottom right*/
}

.ui.button {
  border-radius: 0;
}

.dimmer {
  background-color: #131356 !important;
  font-family: 'Electrolize', sans-serif !important;
}

#login-button {
  font-size: smaller;
}
