.login-header {
  font-family: 'Electrolize', sans-serif !important;
  color: #e0e1e2 !important;
}

.login-form-input input {
  background-color: purple !important;
  color: #e0e1e2 !important;
}

.ui.button {
  border-radius: 0;
}

.dimmer {
  background-color: #131356 !important;
  font-family: 'Electrolize', sans-serif !important;
}
